.home {
    display: flex;
}

#hdrVoyage {
    font-size: 2.9rem;
    position: fixed;
    font-family: 'Andes';
    color: #887735;
    left: 7.3rem;
    top: -1.5rem;
    text-shadow: 0px 3px 1px #f1c627a6;
}

#hdrWellies {
    font-size: 5.1rem;
    position: fixed;
    font-family: 'Sail';
    color: #f1c627;
    left: 2rem;
    top: -0.7rem;
    text-shadow: -1px 2px 1px #444;
}

#hdrSubtitle {
    font-size: 1.1rem;
    position: fixed;
    font-family: 'Rumble Brave';
    color: #796c28;
    left: 5.3rem;
    letter-spacing: 2.8px;
    top: 7.9rem;
}

#map {
    height: 95vh;
    margin: auto;
    margin-top: 2vh;
    opacity: 0.36;
    filter: drop-shadow(5px 14px 7px #222) brightness(0.94) saturate(1.6);
    z-index: -99;
}