#home {
    display: flex;
    background: radial-gradient(circle, #7eb6f1a3 0%, white 100%);
}

#wrapperLeft {
    width: 33vw;
}

#hdrVoyage {
    font-size: 4.5vmin;
    position: fixed;
    font-family: 'Kayak Sans';
    color: #887735;
    left: 1.2rem;
    top: -1rem;
    text-shadow: 0px 3px 1px #f1c627a6;
}

#hdrWellies {
    font-size: 11.5vmin;
    position: fixed;
    font-family: 'Caveat';
    color: #f1c627;
    left: 1.4rem;
    top: -2.1rem;
    text-shadow: -1px 2px 1px #444;
}

#hdrSubtitle {
    font-size: 2vmin;
    position: fixed;
    font-family: 'Grotesque';
    color: #796c28;
    left: 4.6rem;
    letter-spacing: 1.8px;
    top: 14.9vh;
}

#hdrLiz {
    font-size: 3.1vmin;
    position: fixed;
    font-family: 'Caveat';
    color: #f1c527;
    left: 28.5vh;
    letter-spacing: 1.8px;
    top: 16.1vh;
    text-shadow: 1px 1px 0px #796c28;
    transform: rotate(-2deg);
    z-index: 10;
}
    #hdrLiz:hover {
        color: #796c28;
        text-shadow: 1px 1px 0px #f1c527;
        cursor: pointer;
    }
    #hdrLiz:active {
        transform: scale(0.9) rotate(-2deg);
    }

#wellies {
    position: absolute;
    left: 27.4rem;
    top: -6.9rem;
    width: 11.1rem;
    transform: scaleX(-1) rotate(15deg);
    filter: saturate(3) brightness(1.08);
    z-index: -1;
}

#ekphrasis {
    font-family: 'Kayak Sans';
    width: 30vw;
    font-size: 1.9vmin;
    color: #796c28;
    position: absolute;
    left: 2rem;
    top: 26vmin;
    text-shadow: 1px 1px 1px hsla(47, 31%, 67%, 0.72);
    z-index: 3;
}

#ekphrasisLink {
    color: #f1c627;
    text-shadow: 1px 1px 0px #796c28;
    text-decoration: none;
}
    #ekphrasisLink:hover {
        cursor: pointer;
        color: #796c28;
        text-shadow: 1px 1px 0px #f1c627;
    }
    #ekphrasisLink:active {
        transform: scale(0.9);
    }

#mapContainer {
    margin: auto;
    margin-top: 2vh;
    position: relative;
}

#map {
    height: 95vh;
    opacity: 0.48;
    filter: drop-shadow(5px 14px 7px #222) brightness(1.03) saturate(3);
    z-index: -99;
}

#guide {
    bottom: 2rem;
    position: absolute;
    width: 33vmin;
    left: 2rem;
    filter: brightness(1.03) saturate(3) drop-shadow(-2px 2px 4px #796c28bd);
    z-index: 3;
}

#umbrella {
    width: 32vmin;
    position: absolute;
    right: 2.5rem;
    bottom: 2rem;
    animation: 10s hueRotate infinite linear;
}
#umbrella:hover {
    cursor: pointer;
    animation: 1s hueRotate infinite linear;
}

@keyframes hueRotate {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg)
    }
}

#shadow {
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background: #000000cf;
    position: absolute;
}