#home {
    display: flex;
    background: radial-gradient(circle, rgba(58, 142, 228, 0.22) 0%, rgba(255,255,255,1) 100%);
}

#hdrVoyage {
    font-size: 2.9rem;
    position: fixed;
    font-family: 'Andes';
    color: #887735;
    left: 7.3rem;
    top: -1.5rem;
    text-shadow: 0px 3px 1px #f1c627a6;
}

#hdrWellies {
    font-size: 5.1rem;
    position: fixed;
    font-family: 'Sail';
    color: #f1c627;
    left: 2rem;
    top: -0.7rem;
    text-shadow: -1px 2px 1px #444;
}

#hdrSubtitle {
    font-size: 1.1rem;
    position: fixed;
    font-family: 'Rumble Brave';
    color: #796c28;
    left: 5.3rem;
    letter-spacing: 2.8px;
    top: 7.9rem;
}

#mapContainer {
    margin: auto;
    margin-top: 2vh;
    position: relative;
}

#map {
    height: 95vh;
    opacity: 0.48;
    filter: drop-shadow(5px 14px 7px #222) brightness(1.03) saturate(3);
    z-index: -99;
}

#guide {
    bottom: 2rem;
    position: absolute;
    width: 250px;
    left: 2rem;
    filter: brightness(1.03) saturate(3);
}