.bootPrint {
    width: 2.7vh;
    position: absolute;
    transition-duration: 400ms;
}
    .bootPrint:hover {
        cursor: pointer;
    }
    .bootPrint:active {
        animation: 1s spin ease-in-out;
        transform: scale(0.9);
    }
    .bootPrint:active::after {

    }

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(1080deg);
    }
}