#spotlight {
    background: rgba(249, 246, 233, 0.77);
    width: 12.5rem;
    border: 1px solid #f1c627;
    border-radius: 1rem;
    position: absolute;
    right: 2.5rem;
    box-shadow: inset 0px 0px 10px #887735;
    display: flex;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    transition-duration: 500ms;
    flex-direction: column;
}

#spotlightWellies {
    width: 4.5rem;
    position: absolute;
    top: -2.6rem;
    transform: rotate(-17deg) scaleX(-1);
    right: -1.6rem;
    filter: drop-shadow(2px 6px 5px #887735);
}

#spotlightBootPrint {
    width: 25%;
    background: white;
    border: 1px solid #f1c626;
    border-radius: inherit;
    padding: 0.7rem 2.2rem;
    box-shadow: inset 0 0 9px #c1b78e;
    animation: fade-in 1s ease-in-out;
}

#spotlightName {
    font-family: 'Kayak Sans';
    color: #887735;
    text-shadow: 0px 3px 1px #f1c627a6;
    margin: 1rem auto;
    text-align: center;
    height: 66%;
    animation: fade-in 2s ease-in;
}

#exploreContainer {
    display: flex;
    width: 100%;
    height: 15rem;
    justify-content: center;
}

#exploreContainer a {
    z-index: 2;
}

#spotlightExplore {
    font-family: 'Kayak Sans';
    left: 35.5%;
    bottom: 0.78rem;
    letter-spacing: 0.1rem;
    animation: fade-in 4s ease-in;
    font-size: 1.2rem;
    transform: translateY(7px);
    color: #887735;
    text-shadow: 0px 3px 1px #f1c627a6;
}

#spotlightArrows {
    width: 7.4rem;
    transform: rotate(90deg) scaleY(1);
    position: absolute;
    left: 33%;
    bottom: -0.4rem;
    opacity: 0.66;
    filter: brightness(0.8) hue-rotate(7deg) saturate(2);
    animation: fade-in 7s ease-in;
}

#spotlightIcon {
    color: #887735;
    font-size: 2.6rem;
    background: white;
    border: 1px solid #feffff;
    border-radius: 1rem;
    padding: 0.8rem 1.2rem;
    box-shadow: inset 0 0 33px #f1c626;
    position: absolute;
    left: 30%;
    bottom: 1.9rem;
    animation: fade-in 3s ease-in-out;
}
#spotlightIcon:hover {
    color: #f1c626;
    box-shadow: inset 0 0 33px #78b1ed;
}
#spotlightIcon:active {
    transform: scale(0.95);
}

#spotlightPrompt {
    font-size: 1.2rem;
    text-align: center;
    font-family: 'Kayak Sans';
    color: #887735;
    width: 9rem;
    transform: translate(-3px, -4px);
}

#spotlightFullScreen {
    position: absolute;
    right: 3.2rem;
    top: 8rem;
    font-size: 1.1rem;
    color: #887735;
    animation: fade-in 3s ease-in;
}
#spotlightFullScreen:hover {
    color: #f1c626;
    cursor: pointer;
}
#spotlightFullScreen:active {
    transform: scale(0.9);
}

#spotlightClose {
    position: absolute;
    right: -1.6rem;
    top: 3rem;
    font-size: 1.1rem;
    color: #887735;
}
#spotlightClose:hover {
    color: #f1c626;
    cursor: pointer;
}
#spotlightClose:active {
    transform: scale(0.9);
}

.spotlightSmall {
    transform: scale(0.5);
    top: 1rem;
    right: 2rem;
}

.spotlightLarge {
    transform: scale(1);
    right: 2.5rem;
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }