#spotlight {
    background: rgb(249, 246, 233);
    width: 11.5rem;
    border: 1px solid #f1c627;
    border-radius: 1rem;
    position: absolute;
    right: 2rem;
    box-shadow: inset 0px 0px 10px #887735;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    transition-duration: 500ms;
}

#spotlightBinoculars {
    width: 5.1rem;
    position: absolute;
    top: -1.3rem;
    transform: rotate(4deg) scaleX(-1);
    left: 8rem;
    filter: drop-shadow(2px 6px 5px #887735);
}

#spotlightBootPrint {
    width: 45%;
    background: white;
    border: 1px solid #f1c626;
    border-radius: inherit;
    padding: 0.7rem 2.5rem;
    box-shadow: inset 0 0 9px #c1b78e;
    animation: fade-in 1s ease-in-out;
}

#spotlightName {
    font-size: 1.8rem;
    font-family: 'Andes';
    color: #887735;
    text-shadow: 0px 3px 1px #f1c627a6;
    margin: 1rem auto;
    text-align: center;
    height: 66%;
    animation: fade-in 2s ease-in;
}

#exploreContainer {
    display: flex;
    width: 100%;
    height: 15rem;
    justify-content: center;
}

#exploreContainer a {
    z-index: 2;
}

.goToText {
    position: absolute;
    color: #4f472b;
    font-family: 'Kayak Sans';
}

#spotlightGoTo1 {
    font-size: 0.9rem;
    writing-mode: vertical-rl;
    text-orientation: upright;
    left: 22%;
    letter-spacing: -0.2rem;
    bottom: 2.4rem;
    animation: fade-in 1.5s ease-in-out;
}

#spotlightGoTo2 {
    left: 26%;
    font-size: 1.1rem;
    transform: rotate(45deg);
    bottom: 1rem;
    letter-spacing: 0.1rem;
    animation: fade-in 2.5s ease-in;
}

#spotlightGoTo3 {
    left: 35.5%;
    bottom: 0.78rem;
    letter-spacing: 0.1rem;
    animation: fade-in 4s ease-in;
}

#spotlightArrows {
    width: 7.4rem;
    transform: rotate(90deg) scaleY(1);
    position: absolute;
    left: 33%;
    bottom: -0.4rem;
    opacity: 0.5;
    filter: brightness(0.8) hue-rotate(7deg) saturate(2);
    animation: fade-in 7s ease-in;
}

#spotlightIcon {
    color: #887735;
    font-size: 2.6rem;
    background: white;
    border: 1px solid #feffff;
    border-radius: 1rem;
    padding: 0.8rem 1.2rem;
    box-shadow: inset 0 0 33px #f1c626;
    position: absolute;
    left: 30%;
    bottom: 1.9rem;
    animation: fade-in 3s ease-in-out;
}
#spotlightIcon:hover {
    color: #f1c626;
    box-shadow: inset 0 0 33px #78b1ed;
}
#spotlightIcon:active {
    transform: scale(0.95);
}

#spotlightPrompt {
    font-size: 1.2rem;
    text-align: center;
    font-family: 'Kayak Sans';
    color: #887735;
}

#spotlightFullScreen {
    position: absolute;
    right: 1.7rem;
    top: 12.6rem;
    font-size: 0.8rem;
    color: #887735;
    animation: fade-in 3s ease-in;
}
#spotlightFullScreen:hover {
    color: #f1c626;
    cursor: pointer;
}
#spotlightFullScreen:active {
    transform: scale(0.9);
}

#spotlightClose {
    position: absolute;
    right: -1.6rem;
    top: 3rem;
    font-size: 1.1rem;
    color: #887735;
}
#spotlightClose:hover {
    color: #f1c626;
    cursor: pointer;
}
#spotlightClose:active {
    transform: scale(0.9);
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }